:root {
  --dark: #001B2E;
  --info: #89BBFE;
  --light: #CAE5FF;
  --warning: #F1FFC4;
  --danger: #F26A8D;
  --success: #478978;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(./assets/imgs/bg_image.png) no-repeat bottom right;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.transparent-card {
  color: white;
  width: 450px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .05);
  border-top: 1px solid rgba(255, 255, 255, .4);
  background-color: rgba(255, 25D5, 255, .1);
  overflow: hidden;
  user-select: none;
}

.transparent-card p {
  padding: 40px;
  padding-bottom: 0;
  margin-bottom: 16px;
}

.transparent-card {
  backdrop-filter: blur(24px);
}

.transparent-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, .1);
  transform: skew(45deg) translateX(-40%);
}

.transparent-card footer {
  position: relative;
  z-index: 2;

  text-align: center;
  background-color: rgba(255, 255, 255, .2);
  padding: 24px 16px;
}

.transparent-card footer a {
  color: var(--light);
  text-underline-offset: 4px;
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.transparent-card footer a:hover {
  color: var(--info);
}
